
<%= simple_form_for([@product, @product.ratings.build]) do |f| %>

<div id= "rating-form">
	<label>Rating</label>
</div>

<%= f.button :submit, class: "btn-custom2"  %>
<% end %>

<script type="text/javascript">
// this is the not read only script
	$("#rating-form").raty({
		path: '/assets',
		scoreName: 'rating[rating]'
	});


</script>
