// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.custom-image img{
	 // width: auto;
	width: 100%;  
  height: auto;
  // height: 100vh;
  max-height: 500px;
}

.about{
	height: 100vh;
}